---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';

---

<Layout title="">
    <main>
        <Content />
    </main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

    main {
        margin: auto;
    }
</style>