---
import Page1 from "../components/Page1.astro";
import Page2 from "../components/Page2.astro";
import menuid from "../layouts/Menu.astro";
const title = {menuid};
---
<div class="container">
    <div class="heading center">{title}</div>
    <p class="just">Literary works to discover ...</p>
    <p class="just">Different genres</p>
</div>
<style>
    .container {
        margin: 40px 40px;
    }
    .just{
        text-align: justify;
    }

    .center {
        text-align: center;
    }

    .heading {
        font-size: 1.5rem;
        color: #310754;
        font-style: oblique;
    }

    p {
        color: #121254;
    }
</style>