---
const year = "2024";
const webmaster = "https://www.techhandie.com/";
const company = "Pebble Ministries";
---
<div class="f-container">
    <span><div>&copy {year}</div> All rights and priveleges reserved for {company}</span>
    <div class="italic">{webmaster}</div>
</div>

<style>
    .f-container {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: crimson;
        font-size: 0.875rem;
    }
    .italic {
        font-style: oblique;
    }

</style>