---
const menuoptions = ["m1","m2","m3"];
let menuid = Astro.props;
function getId() {
  menuoptions.forEach((opt) => {
    let idMark: any = document.getElementById(opt);
    idMark.addEventListener("click", (event: MouseEvent) => {
      let targetid = event.target;
      menuid = targetid;
    });
  });
};
---

<navbar id="nav">
    <ul>
        <li><a id="m1" href="/Page1" onclick("getId")>Option 1</a></li>
        <li><a id="m2" href="/Page2" onclick("getId")>Option 2</a></li>
        <li><a id="m3" href="/Page3" onclick("getId")>Option 3</a></li>
    </ul>    
</navbar>

<style>
  navbar#nav {
    background-color: yellow !important;
    height: 100px;
  }

  navbar ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: crimson;
  }

  li {
    list-style: none;
  }

  #m1, #m2, #m3 {
    font-style: oblique;
  }
</style>